body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size:16px;
	transition: opacity 1s ease-in-out;
}

/* index.html specific CSS */

.container{
}
#mainiframecontainer{
    max-height:800px;
    height:60%;
    width:80%;
    margin: auto;
}
#mainiframe{
    width:100%;
    height:60vh; /* 60% of height */
    border: none;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid #ddd;

}
.mainheader{
    background-color: #222;
    color: #eee;
    padding: 0.25em 0 1em 0;
	font-family: "Computer Modern Sans", serif;
	text-align:center;
    line-height:0.9;
}  


.mainheader h1{
    font-size: 3em;
    margin: 0em;
    font-family: "Computer Modern Serif", serif;
}  
.mainheader aside{
    font-size: 1em;
    margin: 0.025em;
}  

.footer{
    background-color: #222;
    color: #eee;
    padding: 0.25em 0 0.25em 0;
	font-family: "Computer Modern Sans", serif;
	text-align:center;
    font-size: 70%;
    margin-top: 5em;
}  

#examplecontainer{
    margin: auto;
    max-width: 1000px;
    padding: 0 15px;
	font-family: "Computer Modern Sans", sans-serif;
	text-align:center;
}

#examplecontainer h2{
    margin-bottom: 0px;
}

.row {
  display: flex;
  flex-flow: row wrap;
    justify-content: space-around;
}

.examplelink {
  flex-basis: 100%;
  margin:16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: inset 0 0 1px #ccc, 0 0 5px #ccc;
  padding:0em 1em;

  font-size: 1.5em;
   display: inline-block;
   position: relative;
}

.examplelink p{
    color: black;
    bottom: -1em;
    position: absolute;
    width: 100%;
    line-height: 1.3;
    background-color: rgba(255,255,255,0.8);
    border-top: 1px solid #ccc;
    left: 0em; /*I don't know why I need this to make everything line up*/
    padding: 0.3em 0em;
} 
.examplelink span{
    line-height: 0.5;
} 

.examplepic{
    max-height: 200px;
    max-width: 100%; /* unsure about this */
}

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
  .examplelink {
    flex: 20%;
  }
    .mainheader h1{
        font-size: 6em;
        margin: 0em;
    }  
    .mainheader aside{
        font-size: 1.2em;
    }  
}



/*  explanaria-specific CSS                               */


.exp-label, .exp-text{
	font-family: 'Computer Modern Sans', "sans-serif";
	text-underline-position: under;
    -webkit-text-decoration-skip: auto;
	text-decoration-skip-ink: auto;
	-webkit-text-decoration-skip-ink: auto;
    text-decoration-skip: auto;
	pointer-events: none; 
	text-shadow:

		 4px  0px 0px rgb(255, 255, 255),
		-4px  0px 0px rgb(255, 255, 255),
		 0px  4px 0px rgb(255, 255, 255),
		 0px -4px 0px rgb(255, 255, 255),

		-3px -2px 0px rgb(255, 255, 255),
		-3px  2px 0px rgb(255, 255, 255),
		 3px  2px 0px rgb(255, 255, 255),
		 3px -2px 0px rgb(255, 255, 255),

		-2px -3px 0px rgb(255, 255, 255),
		-2px  3px 0px rgb(255, 255, 255),
		 2px  3px 0px rgb(255, 255, 255),
		 2px -3px 0px rgb(255, 255, 255),

		-1px -2px 1px rgb(255, 255, 255),
		-2px -1px 1px rgb(255, 255, 255),
		-1px  2px 1px rgb(255, 255, 255),
		-2px  1px 1px rgb(255, 255, 255),
		 1px  2px 1px rgb(255, 255, 255),
		 2px  1px 1px rgb(255, 255, 255),
		 1px -2px 1px rgb(255, 255, 255),
		 2px -1px 1px rgb(255, 255, 255);
	transition: inherit;
}
.exp-label{
	font-size: 2.5em; 
}
.exp-text{
	font-size: 1.5em; 
}
.exp-text aside{
	font-size: 80%;
}


.exp-math{
	font-family: "Computer Modern Serif", serif; /* But of course! */
	font-style: normal;
	font-size: 3em; 
	transition: inherit;
}
.exp-math sup, sub{
	z-index:-1;
	position: relative
}

.exp-small{
	font-size: 75%;
	margin: 0;
}

.exp-backbtn{
    width: 15%;
    max-width: 4em;
    height: 15%;
    max-height: 4em;
    position: absolute;
    top: 0px;
    left: 0px;
    padding:0.5em;
}
.exp-backbtn:hover{
	transform: scale(1.1);
}



/* From spratt.github.io/Computer-Modern */
  @font-face {
    font-family: "Computer Modern Sans";
    src: url('./fonts/cmunss-webfont.woff') format('woff');
  }
  @font-face {
    font-family: "Computer Modern Sans";
    src: url('./fonts/cmunsx-webfont.woff') format('woff');
    font-weight: bold;
  }
@font-face {
    font-family: "Computer Modern Serif";
    src: url('./fonts/cmunrm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('./fonts/cmunsl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('./fonts/cmunbl-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('./fonts/cmunbx-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

