/* index.html specific CSS */

body{
    margin: 0;
    --darktextcolor: hsl(240, 10%, 20%);
    --headertextcolor: #eee;
    --darkbgcolor: hsl(240, 10%, 20%);
    color: var(--darktextcolor);
}

.container{
}
#mainiframecontainer{
    display: grid;
    justify-content: center;
    max-height:800px;
    max-width:800px;
    height: min(50vw,60vh);
    width: 60vw;
    margin: auto;
}
#maincanvas{
    width:60vw;
    height:100%;
    border: none;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.mainheader{
    background-color: var(--darkbgcolor);
    color: var(--headertextcolor);

    padding: 0.25em 0 1em 0;
	font-family: "Lora", serif;
	text-align:center;
    line-height:0.9;
}  


.mainheader h1{
    font-size: 3em;
    margin: 0em;
    font-family: "Lora", serif;
    margin: 0em 0em 0.15em;

    transform: scale(100%);
    --shadowcolor: hsla(240, 90%, 70%,/*40% on white background*/ 30%);
    text-shadow: 0.03em 0.03em var(--shadowcolor);
    font-weight: 600; /*semibold */
}
.logotext{

}


.ex{
    margin: 0 0 -0.03em -0.03em; /*adjusted for on black background */
    width:0.4em;
    filter: drop-shadow(0.03em 0.03em var(--shadowcolor));
}

.mainheader aside, .mainheader a{
    font-size: 1em;
    margin: 0.025em;
    color: var(--headertextcolor);
    text-decoration: none;
    display: inline-block;
}  

.mainheader a:hover{
    transform: scale(1.05);
    color: #6e6ef7;
}
.linkcollection{
    margin-top: 0.5em;
}



.footer{
    background-color: var(--darkbgcolor);
    color: #eee;
    padding: 0.25em 0 1em 0;
	font-family: "Computer Modern Sans", sans-serif;
	text-align:center;
    margin-top: 5em;
}  

.emailbox, .emailbtn{
    padding: 0.5em 0em;
    color: #333;
	text-align:center;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    width: 80%;
    max-width: 300px;
}

.emailbox{
    color: #333;
    background-color: #fff;
    /* like a .examplelink*/
}

.emailbtn{
    background-color: unset;
    border: 1px solid #bbb;
    color: #eee;
    font-weight: bold;
}
.emailbtn:hover{
    background-color: #6e6ef8;
}

#examplecontainer{
    margin: auto;
    max-width: 1000px;
    padding: 0 15px;
	font-family: "Computer Modern Sans", sans-serif;
	text-align:center;
}

#examplecontainer h2{
    margin-bottom: 0px;
}

.row {
  display: flex;
  flex-flow: row wrap;
    justify-content: space-around;
}

.examplelink {
    flex-basis: 100%;
    margin:16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: inset 0 0 1px #ccc, 0 0 5px #ccc;
    padding:0em 1em;
    text-decoration: none;

    color: var(--darkbgcolor);
}

.examplelink article{
    font-size: 1.2em;

    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 0.25fr;
    width:100%;

    position: relative;
}
.examplelink:hover{
    transform: scale(1.05);
    transition: transform 0.05s;
}

.exampledesc{
    grid-column-start: 1;

    /*
    grid-row-start: 1;
    bottom: -1em;
    position: absolute;*/

    width: 100%;
    background-color: rgba(255,255,255,0.8);
    border-top: 1px solid #ccc;
    left: 0em; /*I don't know why I need this to make everything line up*/
    padding: 0.3em 0em;
} 
.examplelink h4{
    margin: 0.25em;
    font-weight: normal;
} 
.examplesubtitle{
    line-height: 1.2;
    font-size: 70%;
    margin:0.5em;
    opacity: 0.8;
} 

.examplepic{
    grid-row-start: 1;
    grid-column-start: 1;

    display: grid; /*center the image */
    justify-content: center;
    padding: 0.25em;
}
.examplepic img{
    max-height: 200px;
    max-width: 100%; /* unsure about this */
}

.newexample{
    grid-row-start: 1;
    grid-column-start: 1;
    position:relative;
}
.newexample::before{
    content: "New!";
    border: 1px solid #ccc;
    border-style: none solid solid none;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #fff;
    text-align: left;
    position:absolute;
    left:0;
    padding: 0.5em;
    z-index: 2;
    opacity:80%;
}

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
  .examplelink {
    flex: 20%;
    max-width:33%; /* stops one article from taking up a full row on the bottom */
  }
    .mainheader h1{
        font-size: 6em;
    }  
    .mainheader aside{
        font-size: 1.2em;
    }  
    #mainiframecontainer{
    }
}
