/* index.html specific CSS */

body{
    margin: 0;
    --darkbgcolor: hsl(240, 10%, 20%);
    color: var(--darkbgcolor);
}

.container{
}
#mainiframecontainer{
    display: grid;
    justify-content: center;
    max-height:800px;
    max-width:800px;
    height: min(50vw,60vh);
    width: 60vw;
    margin: auto;
}
#mainiframe{
    width:60vw;
    height:100%;
    border: none;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.mainheader{
    background-color: var(--darkbgcolor);
    color: #eee;
    padding: 0.25em 0 1em 0;
	font-family: "Computer Modern Sans", serif;
	text-align:center;
    line-height:0.9;
}  


.mainheader h1{
    font-size: 3em;
    margin: 0em;
    font-family: "Lora", serif;


    transform: scale(100%);
    --shadowsize: 2px;
    --shadowcolor: #333; /*fff*/

    text-shadow: 5px 5px var(--shadowcolor);
    font-weight: 600; /*semibold */
    
    color: #eee;
    margin: 0.2em;
}  


.ex{
    width:0.4em;
    filter: drop-shadow(5px 5px var(--shadowcolor));
}

.mainheader aside{
    font-size: 1em;
    margin: 0.025em;
}  



.footer{
    background-color: var(--darkbgcolor);
    color: #eee;
    padding: 0.25em 0 0.25em 0;
	font-family: "Computer Modern Sans", serif;
	text-align:center;
    font-size: 70%;
    margin-top: 5em;
}  

#examplecontainer{
    margin: auto;
    max-width: 1000px;
    padding: 0 15px;
	font-family: "Computer Modern Sans", sans-serif;
	text-align:center;
}

#examplecontainer h2{
    margin-bottom: 0px;
}

.row {
  display: flex;
  flex-flow: row wrap;
    justify-content: space-around;
}

.examplelink {
    flex-basis: 100%;
    margin:16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: inset 0 0 1px #ccc, 0 0 5px #ccc;
    padding:0em 1em;
    text-decoration: none;

    color: var(--darkbgcolor);
}

.examplelink article{
    font-size: 1.5em;

    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 0.25fr;
    width:100%;

    position: relative;
}

.exampledesc{
    grid-column-start: 1;

    /*
    grid-row-start: 1;
    bottom: -1em;
    position: absolute;*/

    width: 100%;
    background-color: rgba(255,255,255,0.8);
    border-top: 1px solid #ccc;
    left: 0em; /*I don't know why I need this to make everything line up*/
    padding: 0.3em 0em;
} 
.examplelink h4{
    margin: 0.25em;
    font-weight: normal;
} 
.examplesubtitle{
    line-height: 1.2;
    font-size: 70%;
    margin:0.5em;
    opacity: 0.8;
} 

.examplepic{
    grid-row-start: 1;
    grid-column-start: 1;
}
.examplepic img{
    max-height: 200px;
    max-width: 100%; /* unsure about this */
}

.newexample{
    grid-row-start: 1;
    grid-column-start: 1;
    position:relative;
}
.newexample::before{
    content: "New!";
    border: 1px solid #ccc;

    border-style: none solid solid none;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #fff;
    text-align: left;

    position:absolute;
    left:0;
    padding: 0.5em;
    z-index: 2;
    opacity:80%;
}

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
  .examplelink {
    flex: 20%;
  }
    .mainheader h1{
        font-size: 6em;
    }  
    .mainheader aside{
        font-size: 1.2em;
    }  
    #mainiframecontainer{
    }
}
