body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size:16px;
	transition: opacity 1s ease-in-out;
}

/*  explanaria-specific CSS                               */

/* Required for forwards/backwards arrows to work */
.exp-arrow{
	z-index: 1;
	bottom: 2%;
	position: absolute;
	width: 15vw;
	max-width: 5em;
	transition: opacity 0.5s ease-in-out;
}
.exp-arrow-right{
	right: 2%;
}
.exp-arrow-left{
	left: 2%;
    transform: scale(-1, 1);
}
.exp-arrow-right:hover{
	transform: scale(1.1);
}
.exp-arrow-left:hover{
	transform: scale(-1.1, 1.1);
}

/*commonly used in presentations*/

.exp-toptext{

	position:absolute; bottom:10%; 
	text-align:center;
	width: 99%;
}

.exp-label, .exp-text, .exp-toptext{
	font-family: 'Computer Modern Sans', "sans-serif";
	text-underline-position: under;
    -webkit-text-decoration-skip: auto;
	text-decoration-skip-ink: auto;
	-webkit-text-decoration-skip-ink: auto;
    text-decoration-skip: auto;
	pointer-events: none; 
    /*
	text-shadow:

		 4px  0px 0px rgb(255, 255, 255),
		-4px  0px 0px rgb(255, 255, 255),
		 0px  4px 0px rgb(255, 255, 255),
		 0px -4px 0px rgb(255, 255, 255),

		-3px -2px 0px rgb(255, 255, 255),
		-3px  2px 0px rgb(255, 255, 255),
		 3px  2px 0px rgb(255, 255, 255),
		 3px -2px 0px rgb(255, 255, 255),

		-2px -3px 0px rgb(255, 255, 255),
		-2px  3px 0px rgb(255, 255, 255),
		 2px  3px 0px rgb(255, 255, 255),
		 2px -3px 0px rgb(255, 255, 255),

		-1px -2px 1px rgb(255, 255, 255),
		-2px -1px 1px rgb(255, 255, 255),
		-1px  2px 1px rgb(255, 255, 255),
		-2px  1px 1px rgb(255, 255, 255),
		 1px  2px 1px rgb(255, 255, 255),
		 2px  1px 1px rgb(255, 255, 255),
		 1px -2px 1px rgb(255, 255, 255),
		 2px -1px 1px rgb(255, 255, 255);
    */
    --move-radius: 0.08rem;
    --negative-move-radius: -0.08rem;
    --blur-radius: 0.015rem;
    --outline-color: #fff;
    filter: drop-shadow(var(--move-radius) 0 var(--blur-radius) var(--outline-color))
            drop-shadow(0 var(--move-radius) var(--blur-radius) var(--outline-color)) 
            drop-shadow(var(--negative-move-radius) 0 var(--blur-radius) var(--outline-color)) 
            drop-shadow(0 calc(var(--negative-move-radius)) var(--blur-radius) var(--outline-color));
	transition: inherit;
}
.exp-label{
	font-size: 2.5em; 
}
.exp-text{
	font-size: 1.5em; 
}
.exp-text aside{
	font-size: 80%;
}


.exp-math{
	font-family: "Computer Modern Serif", serif; /* But of course! */
	font-style: normal;
	font-size: 3em; 
	transition: inherit;
}
.exp-math sup, sub{
	z-index:-1;
	position: relative
}

.exp-small{
	font-size: 75%;
	margin: 0;
}

.exp-backbtn{
    width: 15%;
    max-width: 4em;
    height: 15%;
    max-height: 4em;
    position: absolute;
    top: 0px;
    left: 0px;
    padding:0.5em;
}
.exp-backbtn:hover{
	transform: scale(1.1);
}



/* From spratt.github.io/Computer-Modern */
  @font-face {
    font-family: "Computer Modern Sans";
    src: url('./fonts/cmunss-webfont.woff') format('woff');
  }
  @font-face {
    font-family: "Computer Modern Sans";
    src: url('./fonts/cmunsx-webfont.woff') format('woff');
    font-weight: bold;
  }
@font-face {
    font-family: "Computer Modern Serif";
    src: url('./fonts/cmunrm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('./fonts/cmunsl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('./fonts/cmunbl-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('./fonts/cmunbx-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

